{% load static %}
<!DOCTYPE html>
<html>
   <head>

      <title>App Store</title>

      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/androidstyle.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <style>
         body{
            background-image: linear-gradient(to bottom, cyan 0%, white 30%, white 60%, #00abf0 100%);
         }
         .tasty_text  {
            color: black;
         }
      </style>
   </head>
   <body>
      
      <div class="header_section">
         <div class="container-fluid">
         </div>

         <div class="banner_section layout_padding">
            <div class="container">
               <div id="banner_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="banner_img"><img src="{% static 'img/dhapps.png' %}"></div>
                           </div>
                           <div class="col-md-6">
                              <div class="banner_taital_main">
                                 <h1 class="banner_taital">
                                 <h5 class="tasty_text">Download millions of apps for free!</h5>
                                 <p class="banner_text"><b>The most trusted and secure place to get apps and games for your device</b></p>
                                 <div class="btn_main">
                                    <div class="about_bt"><a href="#about">About Us</a></div>
                                    <div class="callnow_bt active"><a href="#apps">Apps</a></div>
                                    <div class="main_bt"><a href="{% url 'homepage' %}">MAIN PAGE</a></div>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>

      </div>

      <div class="apps_section layout_padding" id="apps">
         <div class="container">
            <div class="row">
               <h1 class="apps_header">Top Apps on Store</h1>
            </div>
         </div>
         <div class="apps_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="row">


                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/evernode.png' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Evernode</h3>
                              <div class="read_bt"><a target="_blank" href="https://teraboxapp.com/s/1jJW3Ohq3l7rsg5oShvnSPQ">Download</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/CamScanner_Logo.png' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">CamScanner</h3>
                              <div class="read_bt"><a target="_blank" href="https://teraboxapp.com/s/1Nf4HJeyoWBqUgxzHTX7LsQ">Download</a></div>
                           </div>

                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/anydesk.png' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Any Desk</h3>
                              <div class="read_bt"><a target="_blank" href="https://teraboxapp.com/s/1p2iDiZsnvDaINZKyZpszWw">Download</a></div>
                           </div>

                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/w-notepad.jpeg' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Notepad</h3>
                              <div class="read_bt"><a target="_blank" href="https://teraboxapp.com/s/1NexpVBLHms8BD0K3YNMddA">Download</a></div>
                           </div>




                       
                          
                         
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/devc++.jpeg' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">DEV C++</h3>
                              <div class="read_bt"><a target="_blank" href="https://teraboxapp.com/s/1SzPDpfJNEXiWhWFTxFCFLw">Download</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/VLC-Logo-2001.png' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">VLC</h3>
                              <div class="read_bt"><a target="_blank" href="https://teraboxapp.com/s/1STdvU0Pw4fqXZvohoQjq-w">Download</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/whatsapp.webp' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Whatapp</h3>
                              <div class="read_bt"><a target="_blank" href="ms-windows-store://pdp/?productid=9NKSQGP7F2NH&mode=mini&cid=www_test">Download</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/fb.webp' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Facebook</h3>
                              <div class="read_bt"><a target="_blank" href="https://facebook.en.softonic.com/download">Download</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/mozilla.png' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Mozilla firefox</h3>
                              <div class="read_bt"><a target="_blank" href="https://mozilla-firefox.en.softonic.com/download">Download</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/spectre-camera.png' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Spectre camera</h3>
                              <div class="read_bt"><a target="_blank" href="https://apps.apple.com/us/app/spectre-camera/id1450074595">Download</a></div>
                           </div>
                          
                          
                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/adobe.jpeg' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Adobe</h3>
                              <div class="read_bt"><a target="_blank" href="https://www.adobe.com/acrobat/pdf-reader.html?clickref=1100ly5dr5pw&mv=affiliate&mv2=pz&as_camptype=s%3ASEM%7Cc%3AEN_INDIA_DSA_HKD%7Cm%3Apaid&as_channel=affiliate&as_source=partnerize&as_campaign=softonic">Download</a></div>
                           </div>

                           <div class="col-lg-3 col-md-6">
                              <div class="apps_img"><img src="{% static 'img/photoshop.jpeg' %}" style="height:100px; border-radius: 30px;"></div>
                              <h3 class="types_text">Photoshop</h3>
                              <div class="read_bt"><a target="_blank" href="https://www.adobe.com/products/photoshop.html?clickref=1101ly5DyfPP&mv=affiliate&mv2=pz&as_camptype=s%3ASEM%7Cc%3AEN_INDIA_DSA_HKD%7Cm%3Apaid&as_channel=affiliate&as_source=partnerize&as_campaign=softonic">Download</a></div>
                           </div>


                         









                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- coffee section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">The App Store</h1>

               </div>
            </div>
            <div class="about_section_2 layout_padding" id="about">
               <div class="image_iman"><img src="{% static 'img/allapps.png' %}" class="about_img"></div>
               <div class="about_taital_box">
                  <h1 class="about_taital_1">Thanks for choosing us!</h1>
                  <p class=" about_text"><b>Welcome to our cutting-edge App Store, your go-to destination for seamless app discovery and downloads! Embrace the future of digital convenience with confidence, knowing that our App Store prioritizes your privacy and data integrity. Discover, download, and enjoy a seamless app experience - your gateway to a world of innovation awaits!</b></p>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- application section start -->
      <div class="application_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">Trending Applications</h1>
               </div>
            </div>
            <div class="application_section_2">
               <div class="application_taital_main">
                  <div class="application_left">
                     <div class="apps_img"><img src="{% static 'img/tradingview.png' %}" style="height:100px; border-radius: 30px;"></div>
                  </div>
                  <div class="application_right">
                     <h3 class="moark_text">Trading view</h3>
                     <p class="application_text"> <b> TradingView is a powerful financial analysis platform used by over 50 million traders and investors worldwide. It combines advanced charting tools, real-time data, social networking features, and educational resources to help you make informed decisions about various asset classes, including stocks, forex, commodities, and cryptocurrencies. Here's a breakdown of its key features:</b></p>
                  </div>
               </div>
               <div class="about_bt"><a target="_blank" href="https://teraboxapp.com/s/1tspqEaTpkTDwAexVq5qF4A">Download</a></div>
               <div class="application_taital_main">
                  <div class="application_left">
                     <div class="apps_img"><img src="{% static 'img/CamScanner_Logo.png' %}" style="height:100px; border-radius: 30px;"></div>
                  </div>
                  <div class="application_right">
                     <h3 class="moark_text">Cam Scanner</h3>
                     <p class="application_text"><b> CamScanner is a popular mobile app that transforms your smartphone into a powerful, portable scanner. It lets you scan documents, receipts, notes, and other paper items, convert them into digital formats, and easily manage them within the app.</b></p>
                  </div>
               </div>
                <div class="about_bt"><a target="_blank" href="https://teraboxapp.com/s/1Nf4HJeyoWBqUgxzHTX7LsQ">Download</a></div>
               <div class="application_taital_main">
                  <div class="application_left"> 
                     <div class="apps_img"><img src="{% static 'img/evernode.png' %}" style="height:100px; border-radius: 30px;"></div>
                  </div>
                  <div class="application_right">
                     <h3 class="moark_text">Evernode</h3>
                     <p class="application_text"><b>Facilitates organization and reusability of code component.Optimizes development efficiency and maintenance.</b> </p>
                  </div>
               </div>
               <div class="about_bt"><a target="_blank" href="https://teraboxapp.com/s/1jJW3Ohq3l7rsg5oShvnSPQ">Download</a></div>
            </div>
         </div>
      </div>
      <!-- application section end -->

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>